###############################################
## scrobby sample configuration file (copy   ##
## it to /etc/scrobby.conf or ~/.scrobbyconf ##
## and adjust settings to suit your needs)   ##
###############################################
#
##
## Note: you can specify a password
## in clear text or hashed with an
## md5 algorithm.
##
#
### user settings
##
## Note: If run as root, scrobby will drop
## root privileges and keep running as below
## user. If not specified, scrobby will keep
## running as root (not recommended)
##
#
#dedicated_user = ""
#
### log settings
#
#log_level = "info" (none/info/verbose)
#
### files settings
#
#log_file = "/var/log/scrobby/scrobby.log"
#
#pid_file = "/var/run/scrobby/scrobby.pid"
#
#cache_file = "/var/cache/scrobby/scrobby.cache"
#
### mpd settings
#
#mpd_host = "localhost"
#
#mpd_port = "6600"
#
#mpd_timeout = "15"
#
### last.fm settings
#
#lastfm_user = ""
#
#lastfm_password = ""
#
#lastfm_md5_password = ""
#
#submit_only_songs_with_mbid = "yes"
#
